<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookshare.mapper.BookMapper">
    <!--查找单个图书信息-->
    <select id="bookInfo" parameterType="String" resultType="Book">
        SELECT * from book where bid=#{bid}
    </select>
</mapper>