<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookshare.mapper.BookMapper">
    <!--查找单个图书信息-->
    <select id="bookInfo" parameterType="String" resultType="com.bookshare.pojo.Book">
        SELECT * from book where bid=#{bid}
    </select>

    <!--上传图书-->
   <insert id="uploadBook" parameterType="Book">
       INSERT INTO book(bid,bname,bpict,bdesc,bcate,bprice,buid)
       VALUES (#{bid},#{bname},#{bpict},#{bdesc},#{bcate},#{bprice},#{buid})
   </insert>

    <!--模糊查询图书-->
    <select id="fuzzysearch" parameterType="String" resultType="Book">
        SELECT * FROM book WHERE bname LIKE '%${bname}%'
    </select>

    <!--根据分类查询图书-->
    <select id="categorysearch" parameterType="String" resultType="Book">
        SELECT  * FROM  book where bcate=#{bcate}
    </select>
    <!--查看用户所有上传的图书-->
    <select id="allUpload" parameterType="String" resultType="Book">

        SELECT * from book WHERE buid=#{buid}
    </select>


</mapper>