<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookshare.mapper.UserMapper">
    <select id="login"  resultType="String">
        SELECT uid FROM user WHERE uname=#{0} AND upass=#{1}
    </select>

    <select id="userInfo" parameterType="String" resultType="User">
        SELECT * FROM user WHERE uid=#{uid}
    </select>

    <!--注册-->
    <insert id="register" parameterType="User">
        insert into user (uid,ucoon,uname,uage,usex,uvavat,upass) values (
        #{uid},#{ucoon},#{uname},#{uage},#{usex},#{uvavat},#{upass}
        );
    </insert>

    <!--修改用户信息-->
    <update id="changeUserInfo" parameterType="User">
        UPDATE user SET uconn=#{uconn},uname=#{uname},uage=#{uage},
        usex=#{usex} WHERE uid=#{uid}
    </update>
</mapper>